h2 {
  color: red;
  font-family: monospace;
}

.word-card.team-Neutral {
    background: tan;
    color: white;
}

.word-card.team-Red {
    background: red;
    color: white;
}

.word-card.team-Blue {
    background: slateblue;
    color: white;
}

.word-card.team-Evil {
    background: black;
    color: white;
}


.word-card {
    display: inline-block;
    border: 1px solid black;
    color: black;
    margin: 1em;
    padding: 1em;
    width: calc(100% * 1/5 - 2em - 2em - 4px);
    min-width: 5em;
    text-align: center;
    font-family: monospace;
    font-size: 2em;
    font-weight: bold;
}

.board {
    display: flex;
    flex-wrap: wrap;
}
