@font-face {
  font-family: 'Passion One';
  font-style: normal;
  font-weight: 400;
  src: local('Passion One'), local('PassionOne-Regular'), url(assets/fY6k21F1QT2c_Oc3HRNDwiYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Passion One';
  font-style: normal;
  font-weight: 400;
  src: local('Passion One'), local('PassionOne-Regular'), url(assets/fY6k21F1QT2c_Oc3HRNDwo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body {
    margin: 0px;
    border: 0px;
    font-family: Passion One;
    padding: 0px;
    height: 100%;
}

.chip {
  width: 10px;
  opacity: 1.0;
  height: 10px;
  margin: 20px;
  border: 1px dotted black;
  position: absolute;
  bottom: 0px;
  border-radius: 100px;
  margin: 4px;
  background: white;
}

.background .chip {
 border: 1px dotted white;
}

.player-select {
    background: white;
    margin-left: 1em;
    font-family: Passion One;
    font-size: 2em;
}

.alice {
  right: 0px;
}
.bob {
  left: 0px;
}

.main {
    height: calc(100%  - 10em);
}

.frame {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.frame.first-Blue {
  border: 0.5em solid blue;
}

.frame.first-Red {
  border: 0.5em solid red;
}

.guessed-Green {
  background: green;
}

.guessed-Black {
  background: black;
}

.guessed-Neutral {
  background: slategray;
}



.word-card {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

.word-card.team-Neutral.background {
    background: slategray;
    color: slategray;
}

.word-card.team-Green.background {
    background: green;
    color: green;
}

.word-card.team-Red.background {
    background: red;
    color: red;
}

.word-card.team-Blue.background {
    background: blue;
    color: blue;
}

.word-card.team-Black.background {
    background: black;
    color: black;
}

.word-card.team-Neutral.background.foreground {
    color: white;
}

.word-card.team-Green.background.foreground {
    color: white;
}

.word-card.team-Red.background.foreground {
    color: white;
}

.word-card.team-Blue.background.foreground {
    color: white;
}

.word-card.team-Black.background.foreground {
    color: white;
}


.word-card {
    cursor: pointer;
    display: inline-block;
    border: 1px solid black;
    color: black;
    padding: .2em;
    width: calc(100% * 1/5 - 1em );
    margin-left: 0.25em;
    margin-right: 0.25em;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    min-width: 4em;
    flex-grow: 1;
    font-size: 2.7em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: background-color .1s ease-in;
}

.board {
    margin-left: 4em;
    margin-right: 3.5em;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5em;
    padding-bottom: 5em;
    align-items: stretch;
}

.fa {
    font-size: 2em;
}


.viewas-active {
  font-weight: bold;
}

.reveal-board span {
  margin-right: .2em;
}

.reveal-board {
    cursor: pointer;
    position: fixed;
    top: 0px;
    padding: 0.5em;
}

.choose-player {
  margin-top: 1em;
  margin-left: 5em;
}

.prev-game {
    cursor: pointer;
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 0.5em;
}

.next-game {
    cursor: pointer;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 0.5em;
}

.which-game {
    font-family: monospace;
    padding-bottom: 0em;
    position: absolute;
    right: 0px;
    top: 0px;
    padding-top: 1em;
    text-align: center;
    padding-right: 2em;
}

@media (max-width: 1100px){
    .word-card {
        min-height: 1em;
        padding: 0px;
        margin: 0px;
        min-width: 1em;
        width: calc(100% * 1/5 - .5em);
        margin-left: 0em;
        margin-right: 0em;
        font-size: 1.5em;
        line-height: .7em;
        border: 0px;
    }
    .board {
        padding-top: 3em;
        padding-bottom: 1.8em;
        padding-left: 1em;
        padding-right: 1em;
        height: 100%;
    }
    .main {
        height: calc(100% - 3.6em);
    }
    .chip {
      border: 1px solid black;
      width: 5px;
      height: 5px;
      margin: 20px;
      margin-bottom: 16px;
    }


    .reveal-board {position: relative;}
}

@media (max-width: 600px){
    .word-card {
        min-width: 7em;
        //min-height: 75px;
        width: 100%;
    }
    .board {
        padding-top: 0em;
        padding-bottom: 0em;
    }

    .chip {
      border: 1px solid black;
      width: 5px;
      height: 5px;
      margin: 20px;
      margin-bottom: 10px;
    }

    .reveal-board {position: relative;}

}
